.navbar{
    padding-left: 1vw;
}

.card-oeuvre{
    display: none !important;
}
.card-img:hover + .card-oeuvre {
    display: block !important;
}
.card-oeuvre:hover +.card-img{
    display: block !important;
}
.card-img:hover{
    display: block !important;
}


.card{
    border: none;
}
.card:hover{
    border: 1px solid rgba(0,0,0,.125)!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}
